*Theory.*
*.a
*.o
*.cmo
*.cmi
*.cmx
*.cma
*.cmxa
a.out
*.so
*.native
*.byte
_build
*.glob
*.vo
*.d
*~
*.aux
*.out
*.toc
*.log
*.bbl
*.blg
*.fls
*.bkp
*.dvi
*.bak
*.deps
*.dir-locals.el
*.fdb_latexmk
*.top
